h1{background-color: aqua;text-align: center;color: black;font-size: 180px;}
.heading{background-color: darkmagenta; color: white; font-size: 180px;}
.ibo{background-color: darkgrey;color: black;text-align: center;font-size: 150px;}
.ee{background-color: red;color: white;text-align: center;font-size: 100px}
.tt{background-color: red;color: white;text-align: center;font-size: 150px}
.bb{background-color: green;color: white;text-align: center;font-size: 150px}







tr,th,td, table{border: 0.1px solid gray;border-collapse: collapse;font-size: 600px;}








